<ion-view view-title="ログイン">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">ユーザーID</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">パスワード</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">ログイン</button>
            <p class="text-center">
                <a href="#/forgot-password">パスワードを忘れた方はこちら</a>
            </p>
        </div>
    </ion-content>
</ion-view>
