<ion-view title="商品一覧" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- <h3 id="home-heading1" style="color:#000000;" class=" ">商品一覧</h3> -->
        <button style="margin-bottom: 20px;" class="button button-positive activated" ui-sref="menu.products.create">新規作成</button>
        <form id="home-form4" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="home-list7" class=" ">
			<ion-item class="item-thumbnail-left" id="home-list-item8">
				<img style="height: 55px; width: 80px;" src="https://s3-ap-northeast-1.amazonaws.com/kurashicom-images/shop/2016-05-16/7fed0ba0547645cfdc4e198483228aa8.jpg">
				<h3 style="overflow: visible; -ms-text-overflow: clip; white-space: normal;"><a ng-click="triggerActionSheet(1, '【数量限定】Rorstrand/ロールストランド/Eden/ボウル（ミニ）')">【数量限定】Rorstrand/ロールストランド/Eden/ボウル（ミニ）</a></h3>
				<p>757-16757003-X</p>
				<p>公開</p>
				<p>ショップ在庫 : 0</p>
			</ion-item>
			<ion-item class="item-thumbnail-left" id="home-list-item8">
				<img style="height: 55px; width: 80px;" src="https://s3-ap-northeast-1.amazonaws.com/kurashicom-images/shop/2016-05-18/712acebcdcbab19247c90e4aa2a9c75e.jpg">
				<h3 style="overflow: visible; -ms-text-overflow: clip; white-space: normal;"><a ng-click="triggerActionSheet(2, 'Encachette/アンキャシェット/クラッチバッグ(ブラック)')">Encachette/アンキャシェット/クラッチバッグ(ブラック)</a></h3>
				<p>644-69644030-X</p>
				<p>非公開</p>
				<p>ショップ在庫 : 47</p>
			</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
